
.content {
    margin-top: 1%;
    min-height: calc(100vh - 120px);
    width: 100% !important;
    max-width: 100% !important;
}

.skeletonLine {
    margin-top: 5px;
    margin-bottom: 5px;
}

.signInFormControl {
    margin-top: 10px;
    margin-bottom: 10px;
}

.signUpFormControl {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 95%;
}

.paragraph {
    margin-bottom: 10px;
}

.centredBox {
    padding: 30px 90px;
}

.menuLink {
    color: #F56565;
}

.transactionCard {
    margin: 0 5px;
}

.walletListItem {
    margin: 5px;
}

.paginator {
    text-align: center;
    margin-top: 25px;
}
.paginator li {
    display: inline;
    padding: 5px;
}

@media (max-width: 991px) {
    .transactionCard:first-child {
        margin: 15px 0 5px 0;
    }

    .transactionCard {
        margin: 5px 0;
    }
}

@media (max-width: 425px) {
    .walletBody {
        margin-top: 5px;
    }
}
